<div class="row">
  <div class="col form-group #{'alert-danger' if petition.errors.details.keys.include?(:answer1)}"><%= f.text_area :answer1, class: 'form-control', autocomplete: 'off', cols: 40, rows: '5' %><label class='form-text'>Answer1</label></div>
<div class="col form-group #{'alert-danger' if petition.errors.details.keys.include?(:answer2)}"><%= f.text_area :answer2, class: 'form-control', autocomplete: 'off', cols: 40, rows: '5' %><label class='form-text'>Answer2</label></div>
<div class="col form-group #{'alert-danger' if petition.errors.details.keys.include?(:answer3)}"><%= f.text_area :answer3, class: 'form-control', autocomplete: 'off', cols: 40, rows: '5' %><label class='form-text'>Answer3</label></div>

  <div class="">
    <%= link_to "Cancel", petitions_path,  {class: "btn btn-secondary"} %>
    <%= f.submit "Save", class: "btn btn-primary pull-right" %>
  </div>
</div>
